.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.title {
  color: #0c9fe9;
  font-size: 2em;
  line-height: 1.1;
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
}

.message {
  height: 1.5em;
}

.followAll {
  height: 46px;
  margin: 8px 0;
  padding: 10px 20px;
  color: #fff;
  background: rgb(0, 162, 230);
  background: linear-gradient(
    142deg,
    rgba(0, 162, 230, 1) 0%,
    rgba(2, 203, 251, 1) 70%,
    rgba(52, 222, 255, 1) 100%
  );
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;

  filter: brightness(1) drop-shadow(2px 2px 5px #0003);
  transition: filter 0.25s;
}

.followAll:hover {
  filter: brightness(1.05) drop-shadow(2px 2px 5px #0003);
}

.followAll[disabled] {
  background: rgb(0, 162, 230);
  background: linear-gradient(
    142deg,
    rgba(0, 162, 230, 1) 0%,
    rgba(2, 203, 251, 1) 70%,
    rgba(52, 222, 255, 1) 100%
  );
  opacity: 0.5;
  cursor: default;
}

.followAll[disabled]:hover {
  filter: none;
}

.copyWrap {
  margin-top: 32px;
}

.checks {
  text-align: start;
  width: fit-content;
  margin: 16px auto 0;
}

.toolBtns {
  position: absolute;
  top: 12px;
  right: 8px;
  display: flex;
}

.btnLang {
  padding: 8px;
  font-weight: 500;
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

.btnLogout {
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.btnLogoutIcon {
  position: relative;
  top: 2px;
}

.linkToRepo {
  position: fixed;
  bottom: 8px;
  right: 8px;
}
